@model Project.Models.AttendanceDetail
@{
    ViewBag.Title = "www.cpmpilemode.com";
}
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <div class="form-group">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th>
                            Student Email
                        </th>
                        <th>
                            Course Name
                        </th> 
                        <th>
                           Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Remark
                        </th>
                       
                    </tr>
                    @{
                        //To make unique Id
                        int i = 0;
                        foreach (var item in Model.attendances.ToList())
                        {

                            <tr>
                                <td>


                                    @Html.EditorFor(o => o.attendances[i].StudentEmail, new { @id = "StudentEmail" + i })
                                </td> 
                                <td>


                                    @Html.EditorFor(o => o.attendances[i].CourseName, new { @id = "StudentEmail" + i })
                                </td> 
                                <td>


                                    @Html.EditorFor(o => o.attendances[i].date, new { @id = "StudentEmail" + i })
                                </td>
                                <td>


                                    @Html.DropDownListFor(o => o.attendances[i].Status, new List<SelectListItem>()
{
  new SelectListItem() { Text= "Present", Value = "Present" },
  new SelectListItem() { Text= "Absent", Value = "Absent", Selected = true }
}, "Select ...")




                                </td>
                                <td>
                                    @Html.EditorFor(o => o.attendances[i].Remark, new { @id = "Remark" + i })
                                </td> 
                               
                                


                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Place Order" class="btn btn-primary" />
            </div>
        </div>
    </div>
}  