@model IEnumerable<Project.Models.Enrollment>

@{
    ViewBag.Title = "ViewEnrollments";

}

<h2>View Enrollments</h2>
<link href="~/Scripts/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.18/js/jquery.js"></script>
<script src="~/Scripts/DataTables-1.10.18/js/jquery.dataTables.js"></script>

<table class="table table-striped" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherEmail)
            </th>
            <th>
                Delete
                </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherEmail)
                </td>
               
            </tr>
        }
    </tbody>
</table>
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
   
    }