@model IEnumerable<Project.Models.Enrollment>

@{
    ViewBag.Title = "ViewEnrollments";

}

<h2>View Enrollments</h2>


<table class="table table-striped" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherEmail)
                </td>

            </tr>
        }
    </tbody>
</table>
